<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kspay.shrusthi.app">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name="com.kspay.shrusthi.app.MainActivity" />
        <activity android:name="com.kspay.shrusthi.app.LoginActivity">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.kspay.shrusthi.app.Dashboard_activity">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name="com.kspay.shrusthi.app.AttendanceActivity" />
        <activity
            android:name="com.kspay.shrusthi.app.LeaveApplicationActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name="com.kspay.shrusthi.app.AttendanceHistory" />
        <activity android:name="com.kspay.shrusthi.app.ProfileActivity" />
        <activity android:name="com.kspay.shrusthi.app.LeaveBalanceActivity"></activity>
    </application>

</manifest>